.tb{
	border:0 solid red;
	height:100%;
	width:100%;
	font-famliy:ו;
	font-size:13;
}
.tdname{
	height:30px;
	border:0 solid silver;
	text-align:center;
	font-family:ו;
	font-size:14;
}
.tdbig{
	height:20px;
	text-align:center;
	font-size:25;
	color:red;
	font-weight:bold;
}
.tdnum{
	height:20px;
	text-align:center;
	font-size:25;
	color:blue;
	font-weight:bold;
}
.mainname{
	text-align:center;
}
.btn{
	height:25px;
	width:65px;
	background:white;
	border-color:white;
}
.btn2{
	height:25px;
	width:40px;
	background:white;
	border-color:white;
}
.zheng tr{
	height:40px;
	
}
.zheng td{
	width:40px;
	text-align:center;
}

.tdimgred{
	align:center;
	margin:0 auto;
	background-image:url(images\red.gif);
	background-position: center; 
	background-repeat:no-repeat;
	text-align:center;
}
.tdimgblack{
	align:center;
	margin:0 auto;
	background-image:url(images\black.gif);
	background-position: center center; 
	background-repeat:no-repeat;
	text-align:center;
}

.penblack{
	width:50px;
	height:20px;
	background-color:black;
	border:0 solid red;
}
.penred{
	width:50px;
	height:20px;
	background-color:red;
	border:0 solid red;
}
.fontblack{
	color:black;
	align:center;
	width:35px;
	height:20px;
	border:0 solid teal;
	text-align:center;
	background:transparent;
}
.fontred{
	color:red;
	align:center;
	width:35px;
	height:20px;
	border:0 solid teal;
	text-align:center;
	background:transparent;
}
.inputbig{
	width:60px;
	border-left:0 solid black;
	border-right:0 solid black;
	border-top:0 solid black;
	border-bottom:1 solid black;
	text-align:center;
}
.inputsmall{
	width:50px;
	border-left:0 solid black;
	border-right:0 solid black;
	border-top:0 solid black;
	border-bottom:1 solid black;
	text-align:center;
}