h2 {
}
.top{
	width:100%;
	height:30px;
	background-color:white;
	font-size:15;
	padding:2 0 2 150;
	margin:0 0 0 0;
	color:black;
}
.topTitle{
    font-size:26px;
	font-weight:bold;
	text-align:center;
	width:400px;
	height:30px;
}
.topxia{
	width:100%;
	height:28px;
	background-color:white;
	font-size:15;
	padding:0 0 2 58;
	margin:0 0 0 0;
	color:black;
}
.titleRed{
    color:red;
}
.titleBlack{
    color:black;
}
.topxia2{
	width:100%;
	height:28px;
	background-color:white;
	font-size:15;
	padding:0 0 0 28;
	margin:0 0 0 0;
	color:black;
}
.zhu{
	width:100%;
	height:30px;
	background-color:white;
	font-size:3;
	padding:0 0 0 5;
	margin:0 0 0 0;
	color:black;
}
.zhu input{
	width:30px;
	border:none;
	text-align:center;
}
input{
	width:40px;
}
.tdimgred{
	width:30px;
	align:center;
	margin:0 auto;
	background-image:url(red.png);
	background-position: center; 
	background-repeat:no-repeat;
	text-align:center;
}
.tdimgblack{
    width:30px;
	align:center;
	margin:0 auto;
	background-image:url(black.png);
	background-position: center center; 
	background-repeat:no-repeat;
	text-align:center;
}
td{
	width:30px;
}

tr{
	height:24px;
	font-size:15;
}
button{
	margin:3 0 3 5;
	width:50px;
	height:24px;
}
.penblack{
	width:20px;
	height:14px;
	border-style:double;
	border-color:black;
	border-width:4px;
	margin:6 10 6 30;
}
.penred{
	width:20px;
	height:14px;
	border-style:double;
	border-color:red;
	border-width:4px;
	margin:6 10 6 30;	
}
.fontblack{
	color:black;
	align:center;
	width:35px;
	height:20px;
	border:0 solid teal;
	text-align:center;
	background:transparent;/*͸*/
}
.fontred{
	color:red;
	align:center;
	width:35px;
	height:20px;
	border:0 solid teal;
	text-align:center;
	background:transparent;/*͸*/
}
.trTopBlue td{
    border-top-color:blue;
	border-top-style:dotted;
}
.trTopRed td{
    border-top-color:red;
	border-top-style:dotted;
}
.trTopDoubleBlack td{
    border-top-color:black;
	border-top-width:2px;
}