body {
	margin: 0px;font-size: 5px "ו" ;text-decoration: none;
	}
.size10{   
  align:center;
}
.size11{   
  WIDTH: 20px; 
  HEIGHT:32px; 
  text-align:center;
}
.size12{ 
  WIDTH: 32px; 
  HEIGHT:20px; 
  text-align:center;
  border:none;
  background-color:transparent;
}
.size13{  
  WIDTH: 22px; 
  HEIGHT:20px; 
  color:red
}
.size14{   
  WIDTH: 38px; 
  HEIGHT:20px; 
  color:black;
  font-size:12;
}
.size15{  
  WIDTH: 403px; 
  HEIGHT:18px; 
  color:black;
}
.size16{  
  WIDTH: 120px; 
  HEIGHT:20px; 
  color:black;
}
.size17{
  WIDTH: 700px; 
  HEIGHT:30px; 
  color:black;
  font-size:25;
  font-weight: bold;
}
.size18{ 
  WIDTH: 60px; 
  HEIGHT:20px; 
  color:black;
  font-size:12;
}
.size19{  
  WIDTH: 22px; 
  HEIGHT:20px; 
  color:black;
}
.size20{  
  WIDTH: 200px; 
  HEIGHT:20px; 
  color:black;
  align:left;
}
.size21{  
  WIDTH: 38px; 
  HEIGHT:20px; 
  color:black;
}
.size22{  
  WIDTH: 38px; 
  HEIGHT:20px; 
  color:red;
}
.size23{ 
  WIDTH: 60px; 
  HEIGHT:20px; 
  color:red;
  font-size:12;
}
.size24{
  WIDTH: 403px; 
  HEIGHT:18px; 
  color:black;;
  font-color:black;
}
.size25{   
  WIDTH: 38px; 
  HEIGHT:20px; 
  color:black;
  font-size:12;
}
.size26{   
  WIDTH: 38px; 
  HEIGHT:20px; 
  color:black;
  font-size:12;
}
.size27{ 
  WIDTH: 60px; 
  HEIGHT:20px; 
  color:black;
  font-size:12;
}
td {
 background-repeat: no-repeat;
 background-position: center;
}
